@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
	background:#FFF;
	margin-left:auto;
	margin-right:auto;

	font-family:"Helvetica", Arial, sans-serif;
	font-size:12px;	
	text-align:center;
	color: #333;	
}
#main
{
	max-width: 960px;
	margin: 30px auto 0 auto;
	background: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 30px;
	border: 1px solid #adaa9f;
	-moz-box-shadow: 0 2px 2px #9c9c9c;
	-webkit-box-shadow: 0 2px 2px #9c9c9c;
}
div#setPregunta{
    padding:1px;
    margin-bottom:0.25em;
}
div.preguntaTexto{
    font-size:1.2em;
}
div.opciones{
    margin:2px;
}
div.opciones a.opcion{
    margin:2px;
    white-space:inherit;
}
div#retroalimentacion{
    font-size:1.4em;
    text-align:center;
    padding:1px;
}
.parrafo{
	line-height: 1.5em;
	text-align:left;	
}
/* Estilo para los botones */
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    height: 40px;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;	
    padding: 10px;
    clear: none;
    color: rgba(255, 255, 255, 1);	
	background-color: #3391f5;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
	border-color: #666;	
}
button:hover,
html input:hover[type="button"], /* 1 */
input:hover[type="reset"],
input:hover[type="submit"] {
    color: rgba(8, 84, 135, .9);
	background-color: rgba(255, 255, 255, 1);
	border-color: #999;
	transition: color 500ms ease, background-color 500ms ease;
	-webkit-transition: color 500ms ease, background-color 500ms ease;
}
.subtitulo_01 {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #999;
	text-align:left;	
}
.titulo_01 {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #186cc4;
	text-align:left;	
}
@media screen and (max-width: 500px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    #main{
        padding: 0;
        margin: 0;
        border: none;
    }
    p{
        margin: 0.3em;
        padding: 0.3em;
    }
    #canvas{
        width: 100%;
        height: 100%;
    }
}